# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcsettings

*.xcbkptlist

*.xcscheme

*.plist

*.xccheckout
*.opensdf
74100/74100.sdf
*.suo
74100/74100/74100.vcxproj
*.sln
74100/74100/74100.vcxproj.filters
*.lastbuildstate
74100/74100/Release/74100.tlog/cl.command.1.tlog
*.tlog
74100/Debug/74100.ilk
*.pdb
*.log
*.idb
